---
BasedOnStyle: Google
StatementMacros:
  - INITIALIZER
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: false
AlwaysBreakBeforeMultilineStrings: false
AllowShortFunctionsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
---
Language: Cpp
AllowShortFunctionsOnASingleLine: true
---
Language: Proto
...
