html {
  font-family: sans-serif;
  font-size: 14pt;
}

body {
  max-width: 700px;
  min-width: 700px;
  margin: 0 auto 0 auto;
}

pre,
code {
  font-family: monospace;
  font-size: 12pt;
}

p {
  text-align: justify;
}

.indent {
  margin-left: 1em;
}

h1,
h2 {
  margin: 1.5em 0 1.5em 0;
}

h1 strong {
  font-size: 14pt;
}

footer {
  margin-top: 12em;
  margin-bottom: 3em;
  font-size: 14pt;
}

.logo {
  float: right;
}
